/* Variáveis padrões */
:root {
    --primary-color: #0a1128;
    --secondary-color: #DC143C;
    --third-color: #FF587A;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gray-color: #999999;
    --gap: 3rem;
}

/* Configurações de reboot e elementos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans';
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;

}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td,
thead th {
    background: var(--light-gray-color)
}

/* Classes reutilizaveis da página */

.main-bg {
    color: var(--white-color);
}

.bg-fixado {
    position: fixed;
    background-image: url('../img/main_bg.svg');
    background-size: cover;
    background-position: center center;
    opacity: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}

/* configurações do 'menu' da página */
.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu h1 a:hover {
    color: var(--secondary-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    text-transform: lowercase;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

/* Configurações da lending 'intro' da página */
.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

/* Configurações da landing 'hostory' */
.color-red {
    background: var(--third-color);
}

.history-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.history-content a {
    color: inherit;
}

.history-content a:hover {
    color: var(--secondary-color);
}

/* Configuraçoes da landing 'top 3' */
.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    counter-reset: grid-counter;
    /* Pode ser qualquer nome */
}

.grid-one-content a {
    color: inherit;
}

.grid-one-content a:hover {
    color: var(--secondary-color);
}

.grid-main-heading {
    margin-bottom: -2rem;
}

.grid-description {
    padding: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -6rem;
    transform: rotate(4deg);
}

/* Configurações da página de 'gallery' */
.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--light-gray-color);
    box-shadow: -0.1rem 0.1rem 5px var(--primary-color);
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(2deg);
}

/* Configurações da tela 'contact */
.contact-form {
    grid-column: span 2;
}

.contact-form legend {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 2rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--gray-color);
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

/* Configurações do footer */
.footer {
    display: flex;
    padding: 5rem 0;
    font-size: 1.6rem;
}

.footer p {
    margin: 0 auto;
    text-align: center;
}

.footer a {
    color: var(--primary-color);
}
.footer a:hover {
    color: var(--secondary-color);
}

.heart {
    color: var(--secondary-color);
}

.close-menu {
    display: none;
}

/* Configurações das 'midea queries' */
@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }


    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        border-radius: 1rem;
        border: 0.1rem solid var(--light-gray-color);
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.white-bg {
        background: hsla(0, 0%, 100%, 0.9);
    }

    .close-menu:checked~.close-menu-label::after {
        content: 'X';
        font-weight: bold;
        background: var(--secondary-color);
    }
}